<div class="slide {{paletteClass}}">
  <div class="head">
    <div class="wordmark" role="img" aria-label="{{wordmark}}"></div>
    <div class="tag-chip"></div>
  </div>
  <div class="body mythfact">
    <div class="mf-block myth">
      <span class="mf-chip">Myth</span>
      <p class="mf-text">{{myth}}</p>
    </div>
    <div class="mf-div"></div>
    <div class="mf-block fact">
      <span class="mf-chip fact-chip">Fact</span>
      <p class="mf-text fact-text">{{fact}}</p>
    </div>
  </div>
  <div class="foot">
    <span>{{handle}}</span>
    <span class="index">{{index}}</span>
  </div>
</div>
